@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    /* el colors */
    --color-primary: #F2F2F2;
    --color-secondary: #FFFFFF;
    --color-tertiary: #000000;
    --color-accent: #D71921;
    --color-outline: #0000002D;

    --color-textprimary: #000000;
    --color-textsecondary: rgba(0, 0, 0, 0.6);

    --font-letteramono-medium: 'letteramono-medium';
    --font-letteramono: 'letteramono';
    --font-ndot55: 'ndot55';
    --font-ntype82-headline: 'ntype82-headline';
    --font-ntype82: 'ntype82';
    --font-inter: 'inter';

    /* mi spacing, margin, padding */
    --spacing-tiny: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* ito ang mga radius mo */
    --radius-putangina: 4px;
}

@layer utilities {
    .lettering-tight {
        letter-spacing: -0.1em;
    }

    .text-field {
        @apply flex-row w-full border border-outline items-center bg-white rounded-2xl px-4 h-13
    }

    .debug {
        @apply border-2 border-red-500 bg-red-500/20;
    }
}