@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    /* el colors */
    --color-background: #F2F2F2;
    --color-foreground: #FFFFFF;
    --color-primary: #D71921;
    --color-maintext: #000000;
    --color-secondarytext: rgba(0, 0, 0, 0.6);

    /* mi spacing, margin, padding */
    --spacing-tiny: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* ito ang mga radius mo */
    --radius-putangina: 4px;
}